<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Debug>True</Debug>
  <DDNS_URL>https://dynamic.zoneedit.com/auth/dynamic.html?host=foo.com,bar.net</DDNS_URL>
  <DDNS_UserName>user</DDNS_UserName>
  <DDNS_Password>pwd</DDNS_Password>
  <IP_Check_Interval>300000</IP_Check_Interval>
  <DDNS_IPPage>http://www.netapps.net/ip/default.aspx</DDNS_IPPage>
  <IP_FileName>ZoneEdit_IP.txt</IP_FileName>
</Config>