<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="username" value="username"/>
    <add key="password" value="password"/>
    <add key="checkinterval" value="5"/>
    <add key="getipurl" value="http://www.netapps.net/ip/default.aspx"/>
    <add key="posturl" value="https://dynamic.zoneedit.com/auth/dynamic.html"/>
    <add key="isdebug" value="True"/>
    <add key="ipfilename" value="ip_file"/>
    <add key="lastip" value="10.10.10.10"/>
  </appSettings>
</configuration>